.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #788697;
  color: #ffffff;
}

.pagination button:focus {
  background-color: #00a6fb;
  color: #ffffff;
}
